@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    /* produto */
    --bcl-color: #60A5FA;
    --bcd-color: #1D4ED8;
    /* base */
    --bg-color: #0F172A;
    --st-color: #1E293B;
    /* textos */
    --tcp-color: #F1F5F9;
    --tcs-color: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: var(--text);
    color: var(--tcp-color);
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--bcl-color);
}

h1,h2,h3{
    font: inherit;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}

header #primary{
    padding-block: 20px;

    div{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /* nesting css */
    div:nth-child(2){
        margin-inline: auto;
    }

    div:nth-child(3){
        justify-self: end;
    }
}

#secundary{
    padding-block: 14px;
    border: 1px solid var(--st-color);
    border-inline: none;
    justify-content: space-between;
}

main{
    margin-top: 40px;
}

#featured {
    img{
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .card{
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(to bottom, transparent, #020617);
        }
    }
}



.grid{
    display: grid;
}

.grid-col{
    grid-auto-flow: column;
}

.grid-col-2{
    grid-template-columns: 1fr 1fr;
}

.gap-16{
    gap: 16px;
}