@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    /* produto */
    --bcl-color: #60A5FA;
    --bcd-color: #1D4ED8;
    /* base */
    --bg-color: #0F172A;
    --st-color: #1E293B;
    /* textos */
    --tcp-color: #F1F5F9;
    --tcs-color: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: var(--text);
    color: var(--tcp-color);
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--bcl-color);
}

h1,h2,h3{
    font: inherit;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}

header #primary{
    padding-block: 20px;

    div{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /* nesting css */
    div:nth-child(2){
        margin-inline: auto;
    }

    div:nth-child(3){
        justify-self: end;
    }
}

#secundary{
    padding-block: 14px;
    border: 1px solid var(--st-color);
    border-inline: none;
    justify-content: space-between;
}

main{
    margin-top: 40px;
    row-gap: 80px;
    column-gap: 32px;
    grid-template-columns: 2fr 1.5fr;
    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ia aside";
    
}

section header{
    border-top: 1px solid var(--st-color);
    padding: 12px 24px;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 8px;

        
    }
}

#featured {
    grid-area: featured;
    img{
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .card{
        position: relative;
        overflow: hidden;

        &::before{
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(to bottom, transparent, #020617);
        }

        figcaption{
            position: absolute;
            bottom: 0;

            padding: 24px;

            &:has(.text-lg){
                padding: 12px;
            }
            
            h2{
                margin-bottom: 8px;
            }
        }
    }
}

#weekly{
    grid-area: weekly;

    &>div{
        grid-template-columns: repeat(4, 292px);
    }

    img{
        height: 160px;
    }
}

figure {
    position: relative;

    .content-tag2{
        position: absolute;
        top: 8px;
        left: 8px;
        display: inline-block;
        background-color: var(--bcd-color);
        padding: 4px 8px;
        border-radius: 4px;
        font: 500 10px/1.2 var(--font-family);
        text-transform: uppercase;
        letter-spacing: 0.04cm;
        color: var(--tcp-color);
        box-sizing: 0px 4px 16px rgba(2, 6, 23, 0.25);
    }

    p{
        margin-top: 8px;
        font-weight: 800;
    }
}

#ia{
    grid-area: ia;
    img{
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3{
        margin-block:8px 4px;
    }
}

aside{
    grid-area: aside;
}

#more{
    img{
        width: 72px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

footer{
    text-align: center;
    background-color: #1D4ED8;
    font: var(--font-family);
    padding: 3px;
}

.content-tag{
    display: inline-block;
    background-color: var(--bcd-color);
    padding: 4px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04cm;
    color: var(--tcp-color);
    box-sizing: 0px 4px 16px rgba(2, 6, 23, 0.25);
}



.grid{
    display: grid;
}

.grid-col{
    grid-auto-flow: column;
}

.grid-col-2{
    grid-template-columns: 1fr 1fr;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

.text-2xl{
    font: var(--h1);
}

.text-xl{
    font: var(--h2);
}

.text-lg{
    font: var(--h3);
}

.text-sm{
    font: var(--text-sm);
}